.renewable-content {
	text-align: center;
	display: none;
}

.renewable-content svg {
	width: 30%;
	height: 30%;
	transform: rotate(-90deg);
	background: #0791AB;
	border-radius: 50%;
}

.renewable-content circle {
	stroke: #67CC02;
}

#h2station-info .node-wrapper .station-details-sidebar {
	/* float: right; */
	display:flex;
	zoom: 0.75;
	flex-direction: column;
	/* position: relative; */
	/* width: 15%;  */
	/* margin: 0 0 15px 0;
	
	/* padding: 1em; */
}

/* @media screen and (max-width:991px) {
	 #h2station-info .node-wrapper .station-details-sidebar {
		float: none;
		width: 100%;
		text-align: center;
		margin: 20px 0 30px;
	} 
}*/




/* #react-entry-poin{
	height: 100vh;
	width: 100%;
	overflow:hidden;
} */



#h2station-container {
	display: flex;
	/* flex-grow: 1; */
	flex-direction: row;
	/* align-content: stretch;
	height: 100%;*/
	align-items: stretch;
	width: 100%; 
}



#h2station-map-container {
	/* display: flex; */
	width: 60%;
	padding: 2rem;
	height: calc(100vh - 14rem - 1px);
}

#station-map {
	height: 100%;
	width: 100%;
}


div#map-filter {
	top: calc((100vh - 14rem - 1px)*-1);;
	position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
/* #h2station-info::-webkit-scrollbar {
    display: none;
} */

#h2station-info::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color:transparent;
}

#h2station-info::-webkit-scrollbar
{
	width: 10px;
	background-color:transparent;
}


#h2station-info::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.25);
									  /* color-stop(0.86, rgb(28,58,148)));*/
}

#h2station-info:hover,
#h2station-info:focus {
  overflow: auto;
  overflow-x: hidden;
}

#h2station-info {
	/* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
	display: block;
	width: 40%;
	padding: 3rem;
	height: calc(100vh - 14rem - 1px);
	overflow-y: auto;
	flex: 1,1,auto
}

#graph-kpi1, #graph-kpi2{
	width: calc(20vw - 5rem);
	padding: 1rem; 
	height: 15rem;
	min-width: 24rem;
}

#status-table table{
	table-layout : fixed;
	width: calc(20vw - 5rem);
	padding: 1rem; 
	min-width: 24rem;
}

#status-table table tr td{
	padding: 0.3rem  0;
	width: 45%;
}

#status-table table tr td div{
	margin: auto;
	text-align: center;
	width:50%;
}


/*
  ##Device = Most of the Smartphones Mobiles / ipad (Portrait)
  */
  @media only screen and (max-width: 950px) {
	  
	#big-app-container {
		/* padding: 1rem; */
		display: block;		
		align-content: flex-start;
	}


	#h2station-container {
		flex-direction: column;
    	align-items: center;

		padding:0;
	}
	#h2station-map-container {
		width: 95%;
		
		padding: 1em;
		height: calc((100vh - 12rem) *0.4 );
	}

	#h2station-info {
		width: 95%;
		height: calc((100vh - 12rem) *0.6 );
		padding: 1rem;
	}

	#react-entry-poin, html, body {
		overflow:auto;
	}
	
	div#map-filter {
		top: calc((100vh - 12rem) *-0.4 );
		position: relative;
	}

	#graph-kpi1, #graph-kpi2{
		width: 45%;
	}
	
	#status-table table{
		width: 45%;
		/* padding: 0 2rem 0 2rem; */
	}


  }

  @media only screen and (max-width: 600px) {
	#graph-kpi1, #graph-kpi2{
		width: 95%;
	}

	#status-table table{
		width: 95%;
		/* padding: 0 2rem 0 2rem; */
	}
  }

.modebar {
	display: none !important;
}

#status-table {
	margin: auto;
}

.station-logo {
	margin: auto;
	height: 6rem;
}

.station-logo {
	margin: auto;
	position: relative;
    float:right;
}

img{
	max-height: 100%;
}